@r: 0;
@g: 0;
@b: 0;

@interpol1: color;
@interpol2: border;

@import './styles2a.less';

.card {
	.card-info {
		@{interpol2}: 1px solid #afaeae !important;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			@{interpol2}-bottom: 1px solid #dddddd;
			padding: 8px 16px;
			&:last-child {
				@{interpol2}-bottom: none;
			}
		}
		.card-item {
			padding-bottom: 16px !important;
			padding-top: 16px !important;
			span {
				font-weight: bold;
			}
			.card-wide {
				letter-spacing: 4px;
			}
			.card-opacity {
				opacity: 0.6;
			}
		}
		.card-btn {
			background-@{interpol1}: #f1f1f1 !important;
			@{interpol1}: #000 !important;
			padding-bottom: 24px !important;
			padding-top: 24px !important;
			.button {
				background-@{interpol1}: #4caf50 !important;
				@{interpol1}: #fff !important;
				padding: 12px 24px !important;
			}
		}
	}
	.card-shadow {
		&:hover {
			box-shadow: 0 4px 10px 0 rgba(@r, @g, @b, 0.2), 0 4px 20px 0 rgba(@r, @g, @b, 0.19);
		}
	}
	.card-header {
		background-@{interpol1}: #000 !important;
		@{interpol1}: #fff !important;
		font-size: 24px !important;
		padding-bottom: 32px !important;
		padding-top: 32px !important;
	}
}